* {
    margin: 0;
    padding: 0;
}

/* HTML과 Body의 기본 설정 */
html,
body {
    height: 100%;
    width: 100%;
}

/*초록색 박스 가운데 정렬*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    display: flex;
    position: relative;
    border: 1px solid;
    width: 600px;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.see {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 290px;
    height: 500px;
    align-items: flex-end;
    justify-content: center;
}

.gender {
    display: flex;
    
}

.male {
    display: flex;
    border: 1px solid;
    border-radius: 50px 0px 0px 50px;
    width: 50px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: lightgrey;
}

.male:active{
    background-color: blue;
}

.female {
    display: flex;
    border: 1px solid;
    border-radius: 0px 50px 50px 0;
    width: 50px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: lightgrey;
}

.female:active{
    background-color: pink;
}

.img {
    display: flex;
    border: 1px solid;
    width: 290px;
    height: 290px;
    align-items: center;
    justify-content: center;
}

.poke-img {
    width: 290px;
    height: 290px;
}

.stat {
    display: flex;
    border: 1px solid;
    width: 250px;
    height: 440px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    font-size: 30px;
}

.input {
    display: flex;
    border: 1px solid;
    width: 600px;
    height: 100px;
    align-items: center;
    justify-content: flex-start;
}

.text {
    display: flex;
    border: 1px solid;
    width: 500px;
    height: 100px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    border: 1px solid;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.but1 {
    display: flex;
    border: 1px solid;
    width: 100px;
    height: 50px;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    cursor: pointer;
}

.but2 {
    display: flex;
    border: 1px solid;
    width: 100px;
    height: 50px;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    cursor: pointer;
}

.but1:active {
    transform: translateY(4px);
    box-shadow: 0 0 0 #b38b00;
}

.but2:active {
    transform: translateY(4px);
    box-shadow: 0 0 0 #b38b00;
}